{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ movie.title }}
        </h1>

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1">
                <h2 class="font-bold">
                    {{ category.category }}
                </h2>

            </div>
        </div>

        <img
            src="{{ movie.imagePath }}"
            class="show rounded-xl shadow-xl"
        />

        <div class="text-center pt-8 pb-4">
            <p class="text-xl py-6">
                {{ movie.description }}
            </p>
        </div>


        <p class="text-xl mt-16 pt-14 py-2 text-center">
            Top cast:
            <div class="md:grid lg:grid-cols-2 gap-20 w-4/5 mx-auto py-2 ">
            {% for actor in actors %}
                <div class="text-center pt-8 pb-4">
                    <img
                        src="{{ actor.actorID.imagePath }}"
                        alt=""
                        class="menuimg shadow-xl rounded-md"
                    />
                    <p class="text-base text-gray-700 pt-2 pb-2 leading-8 font-dark">
                        <a href="/actors/{{ actor.actorID.id }}">
                            {{ actor.actorID.name }}
                        </a> 
                    </p> 
                </div> 
            {% endfor %}
            </div>
        </p>  


        {% if app.user %}
            {% if app.user.id == 1 %}
                <a 
                    href="/movies/edit/{{ movie.id }}"
                    class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300 ml-28">
                    Edit Movie
                </a>

                <a 
                    href="/movies/delete/{{ movie.id }}"
                    class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                    Delete Movie
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}